/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular"), url("../fonts/RobotoRegular.woff2") format("woff2"),
    url("../fonts/RobotoRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto-Bold"), url("../fonts/RobotoBold.woff2") format("woff2"),
    url("../fonts/RobotoBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --color-blue: #3f2aff;
  --color-white: #fff;
  --color-ebony-clay: #2e2b44;
  --color-dove-gray: #666;
  --color-steel-gray: #212133;
  --color-waterloo: #85859b;
  --color-white-lilac: #edf0f9;
  --color-comet: #555681;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  min-width: 320px;

  font-family: "Roboto", sans-serif;
}

.title {
  margin: 0;
  padding: 0;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.btn-reset {
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.btn {
  padding: 24px 76px;

  background-color: var(--color-blue);
  border-radius: 20px;
  color: var(--color-white);

  -webkit-transition: background-color 0.2s ease-in-out;

  -o-transition: background-color 0.2s ease-in-out;

  transition: background-color 0.2s ease-in-out;
}

.btn:focus {
  outline: 2px solid var(--color-dove-gray);
  outline-offset: 4px;

  background-color: var(--color-comet);
}


.btn:hover {
  background-color: var(--color-comet);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

/* header */

.header {
  padding-top: 29px;
  padding-bottom: 26px;

  background-color: var(--color-blue);
}

.header__logo-link {
  margin-right: auto;
}

.header__logo-link:focus {
  outline: 2px solid var(--color-dove-gray);
  outline-offset: 4px;
  border-radius: 1px;
}

.nav__item:not(:last-child) {
  margin-right: 57px;
}

.nav__link {
  font-size: 18px;
  line-height: 21px;
  color: var(--color-white);
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out
}

.nav__link:focus {
  outline: 2px solid var(--color-dove-gray);
  outline-offset: 4px;
  border-radius: 1px;
}

.nav__link:hover {
  color: var(--color-waterloo);
}

.header__burger {
  display: none;
}

/* section-hero */

.section-hero {
  padding-bottom: 7px;

  background-image: -o-radial-gradient(
    67.78% 55.93%,
    44.07% 44.07%,
    var(--color-comet) 0%,
    var(--color-steel-gray) 100%
  );

  background-image: radial-gradient(
    44.07% 44.07% at 67.78% 55.93%,
    var(--color-comet) 0%,
    var(--color-steel-gray) 100%
  );
}

.section-hero__left {
  padding-top: 130px;
  padding-bottom: 122px;
}

.section-hero__title {
  margin-bottom: 28px;

  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  color: var(--color-white);
}

.section-hero__descr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  margin: 0;
  margin-bottom: 62px;

  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
}

.section-hero__btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.section-hero__right {
  padding-top: 15px;
  padding-left: 17px;
}

/* section-advantages */

.section-advantages {
  padding-top: 81px;
  padding-bottom: 80px;
}

.section-advantages__row {
  margin-bottom: 6px;
  padding-left: 191px;

  background-image: url("../img/section-advantages/image_1.png");
  background-repeat: no-repeat;
  background-size: 160px 142px;
  background-position: 15px 21px;
}

.section-advantages__list {
  margin-left: -15px;
  margin-right: -15px;
}

.section-advantages__title {
  max-width: 380px;
  margin-bottom: 17px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-ebony-clay);
}

.section-advantages__descr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  margin: 0;

  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-dove-gray);
}

.section-advantages__item {
  padding-top: 29px;
  padding-left: 110px;
  padding-bottom: 10px;

  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: 0 16px;
}

.section-advantages__item--image-1 {
  padding-top: 28px;

  background-image: url("../img/section-advantages/image_2.svg");
}

.section-advantages__item--image-2 {
  background-image: url("../img/section-advantages/image_3.svg");
}

.section-advantages__item--image-3 {
  padding-left: 107px;

  background-image: url("../img/section-advantages/image_4.svg");
  background-position: -1px 16px;
}

.section-advantages__subdescr {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 0;

  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: var(--color-dove-gray);
}

/* section-teachers */

.section-teachers {
  padding-top: 75px;
  padding-bottom: 73px;

  background-color: var(--color-steel-gray);
}

.section-teachers__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 0;
  margin-bottom: 23px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-white);
}

.section-teachers__list {
  margin-left: -15px;
  margin-right: -15px;
}

.section-teachers__img {
  margin-bottom: 26px;

  border-radius: 21px 21px 0 0;

  -o-object-fit: cover;

     object-fit: cover;
}

.section-teachers__subtitle {
  display: inline-block;
  margin: 0;
  margin-bottom: 7px;
  padding-left: 1px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-white);
}

.section-teachers__descr {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-waterloo);
}

/* section-courses */

.section-courses {
  padding-top: 74px;
  padding-bottom: 79px;
}

.section-courses__title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 0;
  margin-bottom: 23px;

  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  color: var(--color-steel-gray);
}

.section-courses__list {
  margin-left: -15px;
  margin-right: -15px;
}

.section-courses__content {
  margin-bottom: 30px;
}

.section-courses__content:nth-child(3n),
.section-courses__content:last-child {
  margin-bottom: 0;
}

.section-courses__item {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 480px;
  padding-top: 212px;
  padding-right: 31px;
  padding-bottom: 29px;
  padding-left: 31px;

  background-color: var(--color-white-lilac);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-courses__item--image-1 {
  background-image: url("../img/section-courses/course_1.jpg");
}

.section-courses__item--image-2 {
  background-image: url("../img/section-courses/course_2.jpg");
}

.section-courses__item--image-3 {
  background-image: url("../img/section-courses/course_3.jpg");
}

.section-courses__item--image-4 {
  background-image: url("../img/section-courses/course_4.jpg");
}

.section-courses__item-title {
  margin: 0;
  margin-bottom: 7px;

  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 150%;
  color: var(--color-steel-gray);
}

.section-courses__time {
  position: absolute;
  top: 11px;
  right: 3px;

  display: inline-block;
  height: 24px;
  padding-top: 3px;
  padding-left: 31px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-white);

  background-image: url("../img/section-courses/time.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left center;
}

.section-courses__item-descr {
  margin: 0;
  margin-bottom: auto;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--color-dove-gray);
}

.section-courses__btn {
  -ms-flex-item-align: start;
      align-self: flex-start;

  padding: 21px 59px;
}

/* footer */

.footer {
  background-color: var(--color-ebony-clay);
  height: 80px;
}

.footer__container-top {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  padding-top: 28px;
  padding-bottom: 28px;
}
.footer__list {
  margin-right: -15px;
  margin-left: -15px;
}

.footer__item:not(:last-child) {
  margin-right: 30px;
}

.footer__link {
  display: inline-block;
  height: 24px;
  padding-left: 24px;

  background-position: center center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.footer__link:focus {
  outline: 2px solid var(--color-dove-gray);
  outline-offset: 4px;
  border-radius: 1px;
}

.footer__link:hover {
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer__link--image-1 {
  background-image: url("../img/footer/facebook.svg");
}

.footer__link--image-2 {
  background-image: url("../img/footer/twitter.svg");
}

.footer__link--image-3 {
  background-image: url("../img/footer/instagram.svg");
}

.footer__link--image-4 {
  background-image: url("../img/footer/youtube.svg");
}

.footer__container-bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color-ebony-clay);
}
